.Body{
    display: Grid;
    grid-template-columns: 1fr;
    font-family: Georgia;
}
.Nav {
    height: 50px;
    background-color: navy;
    font-size: larger;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}
.Nav1{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px; 
}
.Nav2{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px;
} 
.Nav3{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px;
    
}
.Nav1:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Nav2:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Nav3:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Table{
    color: black;
    background-color: white;
    padding: 20px;
    margin: 15px;
    border: solid navy 10px;
}
.Image{
    width: 350px;
    border: 10px;
    padding: 10px;
    margin: 15px;
    border: solid navy 10px;

}
.Header{
    background-color: ghostwhite;
    border: solid navy 10px;
}
@media screen and (min-width: 768px){
.Body{
    grid-template-columns: repeat(3, 1fr);
}
.Nav{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Image{
    grid-column-start: 1;
    grid-column-end: 2;

}
.Table{
    grid-column-start: 2;
    grid-column-end: 4;
}
}