.Body{
font-family: Georgia;
display: grid ;
grid-template-columns: 1fr;
}
.Header{
    text-align: center;
}
.Navi {
    height: 50px;
    background-color: navy;
    font-size: larger;
    display: inline-flex
}
.Nav1{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px;
}
.Nav2{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px;
}
.Nav3{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px;
    
}
.Nav1:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Nav2:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Nav3:hover{
    color: yellow;
    text-decoration: underline;
    transition: all 1s;
}
.Box{
    background-color: White;
    color: black;
    padding: 15px;
    margin: 15px;
    border: solid navy 10px;
}
.Box2{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 15px;
    border: solid navy 10px;
}
.Table{
    background-color: navy;
    color: white;
    padding: 10px;
    margin: 15px;
    border: solid white 2px;
}
.Image{
    height: 250px;
    width: 250px;
    padding: 15px;
    margin: 15px;
    border: solid navy 10px;
}
.Header{
    border: solid navy 10px;
    padding: 10px;
    margin: 15px;
}
@media screen and (min-width: 768px){
    .Body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .Navi{
        grid-column-start: 1; 
        grid-column-end: 4;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .Main{
   grid-column-start:2 ;
   grid-column-end: 4;
    }
    .Image{
        grid-column-start: 1; 
        grid-column-end: 2;   
    }
    .Box2{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
@media screen and (min-width: 1200px){
    .Body{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 3fr;
    }
    .Navi{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .Header{
        grid-column-start:1 ;
        grid-column-end: 6;
    }
    .Main{
        grid-column-start:2 ;
        grid-column-end: 5;
    }
    .Image{
        grid-column-start:1 ;
        grid-column-end: 2;
    }
    .Box2{
        grid-column-start: 5;
        grid-column-end: 6;
    }
}