.colorGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}
.colorGrid div{
    height: 50px;
}

.box1{
    background-color: #F5C6D6;

}
.box2{
    background-color: #EE2E84;


}
.box3{
    background-color: #EE2E84;

}
.box4{
    background-color: #EE2E84;
}
.box5{
    background-color:#EE2E84;

}
.box6{
    background-color:#85CFD8;

}
.box7{
    background-color:#85CFD8;

}
.box8{
    background-color:#8DC63F;
    
}
.box9{
    background-color:#E76E34;

}
.box8{
    background-color:#8DC63F;

}
@media screen and (min-width: 768px){
    .colorGrid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
    .box1{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .box2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .box6{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .box7{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .box8{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .box9{
        grid-column-start: 4;
        grid-column-end: 5;
    }
}