.header{
    font-family: Georgia;
    color: blue;
    text-align: center;
}
h3{
    font-family: georgia;
    color: green;
}
.child p{
    color: red;
}

#greenHouseEffect{
    text-align: center;
}
.paragraph{
    line-height: 20px;
    
}

img{
    float: left;
    padding: 10px;

}
#boldWords{
    color: lightcoral;
}
#linkForWebsite{
    text-decoration: none;
}

#linkForWebsite:hover{
text-decoration: underline;
} 

#beforeLink{ 
    text-transform: uppercase;
}
#theOrderedList{
    list-style: disc;
}
.finalP p{
    color: darkblue;
}


