h1{
    color: black;
}
h3{
    color: black;
}
img{
    position: relative;
}
p{
    font-size: larger;
    font-style: initial;
}
ol{
    font-size: larger;
    font-style: initial;
}
a{
    font-size: larger;
    font-style: initial;
}
h3{
    font-size: larger;
    font-style: initial;
}