body {
    background-color: beige;
    color: black
}
button {
    background-color: silver;
    color:darkblue
}
h1{
    color: darkblue;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
h2 {
color: darkblue;
font-weight: 800;
}

